<!-- navbar.html -->
<!-- navbar.html -->
<!-- navbar.html -->
<div class="navbar">
    <a id="hisseLink" class="nav-link" href="/hisseler/sonuc">Hisse</a>
</div>


<!-- JavaScript code -->
<!-- JavaScript code -->
<!-- JavaScript code -->
<!-- JavaScript code -->
<!-- JavaScript code -->
<!-- JavaScript code -->
<!-- JavaScript code -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Get references to all nav links
        var hisseLink = document.getElementById("hisseLink");

        // Add click event listeners to all nav links
        hisseLink.addEventListener("click", function(event) {
            event.preventDefault(); // Prevent the default link behavior
            // Redirect to hisseler.html
            window.location.href = "/hisseler/sonuc";
        });
    });
</script>

